:root {
	--primary-text-color: rgba(0, 0, 0, 0.8);
	--title-text-color: #000000;
	--accent-color: #18a0fb;
	--primary-white-color: #ffffff;
}
body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
}
.logo {
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;
}
.logo span {
	color: #2196f3;
}
.logo p {
	color: #000;
}
.logo span:visited {
	color: #212121;
}
.logo p:visited {
	color: #000;
}
.site-nav a {
	font-family: roboto, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: #212121;
}
.site-nav .link.current {
	color: #2196f3;
}

.head-contacts a {
	font-family: roboto, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
	text-decoration: none;
}
.head-contacts a:visited {
	color: #757575;
}
.head-contacts a:hover {
	color: #2196f3;
}
.site-overlay h1 {
	font-family: roboto, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	/* or 136% */

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
.site-overlay button {
	width: 200px;
	height: 50px;

	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;

	color: #ffffff;
}

.site-overlay button:hover {
	color: #212121;
}
.site-features img {
	width: 270px;
	height: 120px;

	background: #f5f4fa;
	border-radius: 4px;
}
.portfolio-overlay a {
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	text-decoration: none;
	color: #212121;
}
.portfolio-overlay a:hover {
	color: #ffffff;
}
.site-features h3 {
	font-family: roboto, sans-serif;

	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #212121;
}
.site-features p {
	font-family: roboto, sans-serif;

	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;

	color: #757575;
}
.site-what-we-do h2 {
	font-family: roboto, sans-serif;

	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.site-what-we-do h3 {
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);

	font-family: roboto, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}
.site-our-team h2 {
	width: 264px;
	height: 42px;
	font-family: roboto, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.site-our-team h3 {
	width: 157px;
	height: 19px;

	font-family: roboto, sans-serif;

	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	letter-spacing: 0.03em;

	color: #212121;
}
.site-our-team p {
	width: 130px;
	height: 19px;
	font-family: roboto, sans-serif;

	font-size: 16px;
	line-height: 19px;

	letter-spacing: 0.03em;

	color: #757575;
}
.site-our-clients h2 {
	width: 390px;
	height: 42px;

	font-family: roboto, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.logo-2 {
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;
}
.logo-2 span {
	color: #2196f3;
}
.logo-2 p {
	color: #ffffff;
}
.logo-2 span:visited {
	color: #212121;
}
.logo-2 p:visited {
	color: #000;
}
.footer-contacts span {
	width: 231px;
	height: 21px;
	font-family: roboto, sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #ffffff;
	text-decoration: none;
	font-style: normal;
}
.footer-contacts a {
	width: 231px;
	height: 21px;

	font-family: roboto, sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-decoration: none;
	font-style: normal;
	color: rgba(255, 255, 255, 0.6);
}
.top-navigation button {
	font-family: roboto, sans-serif;

	background: #f5f4fa;
	border-radius: 4px;

	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	letter-spacing: 0.03em;

	color: #212121;
}
.top-navigation button:hover {
	background: #2196f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	color: #ffffff;
}
.portfolio-products a {
	width: 322px;
	height: 36px;

	font-family: roboto, sans-serif;

	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	text-decoration: none;
	color: #212121;
}
.portfolio-products h2 {
	width: 322px;

	font-family: roboto, sans-serif;

	font-weight: bold;
	font-size: 18px;
	line-height: 36px;

	letter-spacing: 0.06em;

	color: #212121;
}
.portfolio-products p {
	height: 30px;
	font-family: roboto, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.03em;

	color: #757575;
}
.portfolio-products a:hover {
	width: 370px;
	height: 294px;

	background: rgba(33, 150, 243, 0.9);
}
.portfolio-products p + p {
	width: 322px;
	height: 168px;

	font-family: roboto, sans-serif;

	line-height: 28px;

	letter-spacing: 0.03em;

	color: #ffffff;
}
.join-us {
	position: absolute;
	width: 145px;
	height: 16px;

	font-family: roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}
